# Data Preprocessing Template

In [5]:
# Importing the libraries
using DataFrames, CSV

In [139]:
dataset = CSV.read("Data.csv", DataFrame);

X = dataset[:,1:3];
y= dataset[:, :4];

In [15]:
print(X)

10×3 DataFrame
 Row │ Country  Age      Salary
     │ String7  Int64?   Int64?
─────┼───────────────────────────
   1 │ France        44    72000
   2 │ Spain         27    48000
   3 │ Germany       30    54000
   4 │ Spain         38    61000
   5 │ Germany       40  missing
   6 │ France        35    58000
   7 │ Spain    missing    52000
   8 │ France        48    79000
   9 │ Germany       50    83000
  10 │ France        37    67000

In [16]:
print(y)

String3["No", "Yes", "No", "No", "Yes", "Yes", "No", "Yes", "No", "Yes"]

In [31]:
using DataFrames, Statistics

In [57]:
mean(dataset[:,2])

missing

In [140]:
describe(dataset)

4×7 DataFrame
 Row │ variable   mean     min     median   max    nmissing  eltype            ⋯
     │ Symbol     Union…   Any     Union…   Any    Int64     Type              ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │ Country             France           Spain         0  String7           ⋯
   2 │ Age        38.7778  27      38.0     50            1  Union{Missing, In
   3 │ Salary     63777.8  48000   61000.0  83000         1  Union{Missing, In
   4 │ Purchased           No               Yes           0  String3
                                                                1 column omitted

In [124]:
secondcol = dataset[:,2]
for i in eachindex(secondcol)
    if (ismissing.(secondcol))[i] == 1
        secondcol[i] = convert(Int64, round(38.7778, digits=0))
    end
end
secondcol

10-element Vector{Union{Missing, Int64}}:
 44
 27
 30
 38
 40
 35
 39
 48
 50
 37

In [125]:
thirdcol = dataset[:,3]
for i in eachindex(thirdcol)
    if (ismissing.(thirdcol))[i] == 1
        thirdcol[i] = convert(Int64, round(63777.8, digits=0))
    end
end
thirdcol

10-element Vector{Union{Missing, Int64}}:
 72000
 48000
 54000
 61000
 63778
 58000
 52000
 79000
 83000
 67000

In [147]:
using ScikitLearn

In [ ]:
@sk_import preprocessing:(ColumnTransformer)

In [ ]:
@sk_import preprocessing: (OneHotEncoder)